*,
*::before,
*::after {
  box-sizing: border-box;
}

html {
  block-size: 100%;
}

.page {
  inline-size: 1200px;
  block-size: 100%;
  margin: auto;
  color: #fff;
  font-family: "Fira Sans Condensed", sans-serif;
  font-size: 18px;
  background-color: #1b1919;
  display: flex;
  justify-content: center;
  align-items: center;
}

h1,
h2,
h3,
h4,
p,
ul,
ol,
li,
blockquote,
fieldset {
  margin: 0;
  padding: 0;
}

ul,
ol {
  list-style: none;
}

.content {
  display: flex;
  justify-content: center;
  align-items: flex-end;
  flex-wrap: nowrap;
  inline-size: 1140px;
  gap: 30px;
}

.search-form {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
}

.content__list {
  overflow-y: scroll;
  height: 298px;
  position: relative;
}

.content__details {
  flex-grow: 1;
}

.result__video-container {
  width: 711px;
  height: 386px;
  margin-bottom: 16px;
  position: relative;
}

.result__video {
  object-fit: contain;
  width: 100%;
  height: 100%;
}

.content__list-item:not(:last-child) {
  margin-bottom: 32px;
}

.content__video-card {
  display: flex;
  justify-content: space-between;
}

.content__video-card-thumbnail {
  object-fit: contain;
  object-position:center;
  width: 194px;
  height: 103px;
}

.content__video-card-description-container {
  width: 100%;
}

.search-form__fieldset-title {
  font-family: "Fira Sans Condensed", sans-serif;
  font-weight: 400;
  font-size: 18px;
  line-height: 22px;
  padding-bottom: 5px;
}

.title {
  font-family: "Oswald", sans-serif;
  font-weight: 700;
  font-size: 75px;
  line-height: 94%;
  text-transform: uppercase;
  margin-bottom: 26px;
}

.content__accent {
  color: #545050;
}

.content__card-link {
  text-decoration: none;
  display: block;
  color: inherit;
  margin: 2px;
}

.content__card-link:focus {
  outline: none;
}

.content__card-link:focus-visible {
  outline: 1px solid #fff;
}

.content__video-card-title {
  font-family: "Oswald", sans-serif;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  width: 200px;
  font-weight: 700;
  font-size: 30px;
  line-height: 100%;
  text-transform: uppercase;
  color: inherit;
  margin-bottom: 6px;
}

.content__video-card-description {
  font-family: "Fira Sans Condensed", sans-serif;
  width: 200px;
  font-weight: 400;
  font-size: 18px;
  line-height: 16px;
  color: inherit;
}

.visually-hidden {
  position: absolute;
  inline-size: 1px;
  block-size: 1px;
  overflow: hidden;
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  white-space: nowrap;
}

.search-form__label {
  display: flex;
  align-items: center;
  width: fit-content;
  cursor: pointer;
}

.search-form__label:hover .search-form__label-text {
  text-decoration: underline;
}

.search-form__label:has(:focus-visible) {
  outline: 1px solid #fff;
}

.search-form__checkbox-list {
  display: flex;
  flex-direction: row;
  gap: 15px;
}

.search-form__pseudo-checkbox {
  position: relative;
  width: 19px;
  height: 19px;
  border: 1px solid #fff;
  margin-right: 5px;
}

.content__card-link:hover {
  text-decoration: underline;
}

.content__card-link:active {
  background-color: #545050;
}

.content__card-link_current {
  background-color: #545050;
}

fieldset {
  border: none;
}

.search-form__textfield {
  font-family: "Fira Sans Condensed", sans-serif;
  border: 1px solid #fff;
  border-style: solid none;
  border-radius: 0;
  background-color: transparent;
  font-size: 18px;
  width: 225px;
  height: 27px;
  font-weight: 400;
  color: inherit;
  outline: none;
  appearance: none;
}

.button {
  font-family: "Fira Sans Condensed", sans-serif;
  cursor: pointer;
  background-color: transparent;
  height: 34px;
  border: 1px solid #fff;
  color: inherit;
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 22px;
}

button:focus {
  outline: none;
}

button:focus-visible {
  outline: 1px solid #fff;
}

.search-form__submit-button {
  width: 194px;
  height: 34px;
}

.search-form__submit-button:active {
  background-color: #545050;
}

.search-form__submit-button:hover {
  text-decoration: underline;
}

.more-button {
  width: 399px;
}

.search-form__textfield:active {
  color: inherit;
}

.search-form__checkbox[type="checkbox"]:checked
  + .search-form__pseudo-checkbox::before {
  content: "";
  position: absolute;
  align-items: center;
  justify-content: center;
  background-color: #fff;
  margin: 1px;
  inset: 0;
}
